core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.venv/
.env
settings.json
# Django
/staticfiles/
/media/
.DS_Store
# SQLite dev
/db.sqlite3