{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h2>{{ product.title }}</h2>
            <img src="{{ product_image.image.url }}" alt="">
            <p class="lead">£{{ product.price }}</p>
            <p>{{ product.description }}</p>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h6>Sold by</h6>
                    <a href="{% url 'marketplace:shop_detail' slug=product.shop.slug %}">{{ product.shop.name }}</a>
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="{% url 'orders:add_to_cart' product_id=product.id %}">
        {% csrf_token %}
        <div class="input-group" style="max-width:220px;">
            <input type="number" name="quantity" class="form-control" min="1" value="1">
            <button class="btn btn-success">Add to cart</button>
        </div>
    </form>
{% endblock %}